body
{
	width: 86%;
	min-width: 1000px;
	margin: auto;
}

.header
{
	margin-bottom: 5px;
	width: 100%;
	z-index: 2;
}

.page
{
	z-index: 1;
	width: 100%;

}

.footer
{
	 width: 100%;
	 min-height: 20px;
}

a
{
	padding: 10px;
	text-decoration: none;
	color: rgba(0,0,200,10)!important;
}

/* tableau */
	.tableau
	{
	
		
		border-collapse: collapse;
		margin: auto;
		width: 100%;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.tableau th
	{
		border: black 1px solid;
		background: rgba(220,220,220,0.8);
		padding: 5px;
	}
	.tableau td
	{
		border: black 1px solid;
		padding: 8px;
		margin-top: 25px;

	}

	.tableau tr
	{
	margin-bottom: 20px;
	}

	.case img
	{
		width: 18px;
	}

	.detailReservation
	{
		font-size: 13px;
	}

/* formulaire */
	.formulaire input, select
	{
		margin-top: 5px;
		margin-left: 5px;
	}

	#alert
	{
		color: red;
		font-style: italic;
		margin: 10px;
	}
	.message
	{
		display: inline-block;
		width: 100%;
		background: rgba(160,180,120,0.82);
		color: rgba(60,60,200,1);
		font-size: 20px;
	}
	.tableauEffectif
	{
		display: block;
		position: absolute;
		margin-left: 260px;
		margin-top: -18px;

	}

/* page connexion */
.connexion
{
	margin: auto;
	width: 600px;
	vertical-align: middle;
	margin-top: 20%;
}
.deconnexion
{
	display: inline-block;
	position: absolute;
	margin-top: -60px;
	right: 7%;
}